.margin{
  margin-top: 25px;
  margin-bottom: 25px;
}
.padding{
  padding-bottom: 40px;
  box-shadow: 1px 1px 1px;
  
 
}
/*.padding:hover{
  box-shadow: 10px 10px 10px;
  
}*/

.col-container{
  display: table;
    width: 100%;
}
.col{
  display: table-cell;
    padding: 16px;
}
@media only screen and (max-width: 600px) {
    .col { 
        display: block;
        width: 100%;
    }
}
/*header styling*/
/*=========================*/
.header {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    text-align: center;
    background: url(../images/header.jpg) no-repeat center center/cover;
    color:white;
    margin-bottom: 25px;
}
.head{
  width:90%;
  background-color: rgba(0, 0, 0, 0.3);
  
  text-align: center;
}
.slider{
  height: 400px;
}
.slider .item img{
  height: 400px;
  width: 100%;
}

h2 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #f57f20; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

h2 span { 
    background:#fff; 
    padding:0 10px; 
}
#rsap{
  background: white;
  margin-top: 40px;
  color:#f57f20;

}
#rsap:hover{
  background: #f57f20;
  color: white;
  box-shadow: 2px 2px 2px 2px;
}

/*event details styling*/
/*========================*/

/*timeline styling*/
/*=========================*/
#timeline{
  background: #fceabb;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #f8b500, #f57f20);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #f8b500, #f57f20); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.timeline,
.timeline-horizontal {
  list-style: none;
  padding: 20px;
  position: relative;
}
.timeline:before {
  top: 40px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline .timeline-item {
  margin-bottom: 20px;
  position: relative;
}
.timeline .timeline-item:before,
.timeline .timeline-item:after {
  content: "";
  display: table;
}
.timeline .timeline-item:after {
  clear: both;
}
.timeline .timeline-item .timeline-badge {
  color: #fff;
  width: 54px;
  height: 54px;
  line-height: 52px;
  font-size: 22px;
  text-align: center;
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -25px;
  background-color: #7c7c7c;
  border: 3px solid #ffffff;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline .timeline-item .timeline-badge i,
.timeline .timeline-item .timeline-badge .fa,
.timeline .timeline-item .timeline-badge .glyphicon {
  top: 2px;
  left: 0px;
}
.timeline .timeline-item .timeline-badge.primary {
  background-color: #1f9eba;
}
.timeline .timeline-item .timeline-badge.info {
  background-color: #5bc0de;
}
.timeline .timeline-item .timeline-badge.success {
  background-color: #59ba1f;
}
.timeline .timeline-item .timeline-badge.warning {
  background-color: #d1bd10;
}
.timeline .timeline-item .timeline-badge.danger {
  background-color: #ba1f1f;
}
.timeline .timeline-item .timeline-panel {
  position: relative;
  width: 46%;
  float: left;
  right: 16px;
  border: 1px solid #c0c0c0;
  background: #ffffff;
  border-radius: 2px;
  padding: 20px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline .timeline-item .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -16px;
  display: inline-block;
  border-top: 16px solid transparent;
  border-left: 16px solid #c0c0c0;
  border-right: 0 solid #c0c0c0;
  border-bottom: 16px solid transparent;
  content: " ";
}
.timeline .timeline-item .timeline-panel .timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-item .timeline-panel .timeline-body > p,
.timeline .timeline-item .timeline-panel .timeline-body > ul {
  margin-bottom: 0;
}
.timeline .timeline-item .timeline-panel .timeline-body > p + p {
  margin-top: 5px;
}
.timeline .timeline-item:last-child:nth-child(even) {
  float: right;
}
.timeline .timeline-item:nth-child(even) .timeline-panel {
  float: right;
  left: 16px;
}
.timeline .timeline-item:nth-child(even) .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-horizontal {
  list-style: none;
  position: relative;
  padding: 20px 0px 20px 0px;
  display: inline-block;
}
.timeline-horizontal:before {
  height: 3px;
  top: auto;
  bottom: 26px;
  left: 56px;
  right: 0;
  width: 100%;
  margin-bottom: 20px;
}
.timeline-horizontal .timeline-item {
  display: table-cell;
  height: 280px;
  width: 20%;
  min-width: 320px;
  float: none !important;
  padding-left: 0px;
  padding-right: 20px;
  margin: 0 auto;
  vertical-align: bottom;
}
.timeline-horizontal .timeline-item .timeline-panel {
  top: auto;
  bottom: 64px;
  display: inline-block;
  float: none !important;
  left: 0 !important;
  right: 0 !important;
  width: 100%;
  margin-bottom: 20px;
}
.timeline-horizontal .timeline-item .timeline-panel:before {
  top: auto;
  bottom: -16px;
  left: 28px !important;
  right: auto;
  border-right: 16px solid transparent !important;
  border-top: 16px solid #c0c0c0 !important;
  border-bottom: 0 solid #c0c0c0 !important;
  border-left: 16px solid transparent !important;
}
.timeline-horizontal .timeline-item:before,
.timeline-horizontal .timeline-item:after {
  display: none;
}
.timeline-horizontal .timeline-item .timeline-badge {
  top: auto;
  bottom: 0px;
  left: 43px;
}
/*end of timeline styling*/
/*/*speaker detail stylin//*/
/*=======================*/
.speaker-details .speaker-image img{
    width: 100%;
}
.speaker-details .speaker-content{
    margin-bottom: 50px;
}
.speaker-details .speaker-content h4{
    font-size: 24px;
    line-height: 28px;
    color: #ff9822;
}
.speaker-details .speaker-content > span{
    font-size: 16px;
    line-height: 28px;
    color: #656565;
    margin-bottom: 10px;
    display: inline-block;
}
.speaker-details .speaker-content p{
    font-size: 15px;
    line-height: 28px;
}
.speaker-details .speaker-social{
    overflow: hidden;
    margin-bottom: 30px;
}
.speaker-details .speaker-social li{
    list-style: none;
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.speaker-details .speaker-social li a{
    display: inline-block;
    height: 40px;
    width: 40px;
    color: #696969;
    text-align: center;
    border: 1px solid #f0f0f0;
    border-radius: 100%;
    line-height: 2.7;
}
.speaker-details .speaker-social li a:hover{
    background-color: #ff9822;
    border: 1px solid #ff9822;
    color: #fff;
}
.speaker-details .speaker-address{
    overflow: hidden;
}
.speaker-details .speaker-address li{
    list-style: none;
    margin-bottom: 6px;
    font-size: 15px;
}
.speaker-details .speaker-address li span{
    display: inline-block;
    height: 36px;
    width: 36px;
    border: 1px solid #f0f0f0;
    text-align: center;
    font-size: 18px;
    line-height: 2;
    color: #ff9822;
    margin-right: 10px;
}
.speaker-details .speaker-statement{
    margin-bottom: 50px;
}
.speaker-details .speaker-statement h4{
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
}
.speaker-details .speaker-statement p{
    font-size: 15px;
}
.speaker-details .speaker-skills h4{
    margin-bottom: 30px;
}
.speaker-details .speaker-skills .skill-item{
    display: inline-block;
    margin-right: 44px;
    text-align: center;
}
.speaker-details .speaker-skills .skill-item:last-child{
    margin-right: 0px;
}
.speaker-details .speaker-skills .circle{
    position: relative;
    margin-bottom: 10px;
}
.speaker-details .speaker-skills strong{
    color: #65ac4c;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.speaker-details .speaker-skills p{
    font-size: 14px;
    color: #696969;
    margin: 0px;
}
.speaker-details .speaker-award h4{
    margin-bottom: 20px;
}
.speaker-details .speaker-award li{
    list-style: none;
    display: inline-block;
    margin-right: 60px;
    text-align: center;
}
.speaker-details .speaker-award li:last-child{
    margin: 0px;
}
.speaker-details .speaker-award li img{
    margin: 0px auto 25px;
}


/*price section styling*/
/*=====================*/
.price
{
  padding:50px 0;
}
.price-box
{
background:#f5f5f7;
float: left;
    width: 100%;
}
.price-title {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    padding: 20px 0;
    text-align:center;
    background:#0b1f37;
    margin-bottom:30px;
    font-size:20px;
    line-height:30px;
    }
.price-box > ul {
    list-style: outside none none;
    margin: auto auto 30px;
    padding: 0;
    width: 43%;
}
.price-box > ul li{
padding-bottom:10px;
color:#717171;
}
.price-box > ul li::before {
    content: "ï˜";
    font-family: fontawesome;
    margin-right: 10px;
}
.price-box > ul li:last-child::before
{
display:none;
}
.price-box a {
    border: 2px solid;
    display: inline-block;
    margin-left: 12px;
    margin-top: 30px;
    padding: 10px 0;
    text-align: center;
    width: 90%;
    color: #040a2c;
    text-decoration: none;
}
.price-box a:hover {
   border: 2px solid #de302f;
    background:#de302f;
    color:#fff;
    text-decoration: none;
}

.price-box.red
{
  background:#fff;
  box-shadow:1px 1px 25px rgb(238, 238, 238);
}
.price-box.red .price-title
{
  background:#de302f;
}
.price-box.red li::before
{
  color:#de302f;
}
.price-box.red a {
    border: 2px solid #de302f;
    background:#de302f;
    color:#fff;
    text-decoration: none;
}
.price-bg {
    background:rgba(0, 0, 0, 0) url("../img/pricing-bg.jpg") no-repeat scroll center center / cover ;
}
/*awards and achievements*/



.cont{ margin-top: 42px;}

.inactive { visibility: hidden; }
.active { background-color: #F7F7F9; }
.col-list .col-head { color: white; border-bottom: thick solid rgba(0, 0, 0, 0.2); border-radius: 5px 5px 0 0;
                       margin-top: 45px;
                       height: 34px;
                       padding-top: 0px;
                        }
.col-list .col-head span { color: white; font-size: 3em; padding: 15px; border: thick solid white; border-radius: 50%; margin-top: -45px; background-color: #BE1E2D; }
.col-list .col-head h2 { margin-top: 7px; margin-bottom: 5px; font-size: 2em; font-weight: 700; }
.col-list .t1 .col-head { background-color: #f57f20; }
.col-list .t2 .col-head { background-color: #f57f20; }
.col-list .t3 .col-head { background-color: #F57f20; }
.col-list .t1 li { border-bottom: 1px solid rgba(255, 183, 72, .4); }
.col-list .t2 li { border-bottom: 1px solid rgba(22, 202, 200, .4); }
.col-list .t3 li { border-bottom: 1px solid rgba(248, 113, 82, .4) }
.col-list .t1 li:last-child,
.col-list .t2 li:last-child,
.col-list .t3 li:last-child { border-bottom: 0; }
.col-list li p { font-size: 1.2em; padding: 7px; margin: 0; }
.col-list li:hover { background-color: #F7F7F9; }
.option span { color: rgba(162, 213, 0, 1); margin-left: 7px; margin-right: 7px;} 

.price .panel-footer {
    color: #fff;
    border-bottom: 0px;
    /* background-color: rgba(0,0,0, .1); */
    background: #e9eaed;
    /* box-shadow: 0px 3px 0px rgba(0,0,0, .3); */
}