body { font-family: "Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;"; /*color: #fff;*/ background: #f9f9fa; color: #000;}
  position: absolute;
  bottom: 0;
  left: calc(50% - 100px);
body
{
    padding-top: 20px;
}
.color-orange{
  color: #f57f20;
}
/*@media (min-width: 1200px){
.container { 
    width: 68%;
}
}*/
/*************************video**********************/
.container {
  /*background: #e3e3e3;*/
  
  
}
.mar-top{
  margin-top: -20px;
}
.edit-modal1-width{
  width: 450px;
}
.edit-modal4-width{
  width: 430px;
  height: 350px;
}
.close-btn-class{
  margin-right: 10px;
  margin-top: -17px;
}
.container-grid{
  /*background: #fff;*/
  margin-bottom: 10px;
}


iframe {
    max-height: 100%;
    
    max-width: 100%;
    width: 89.2%;
  } 

 
  .text{
        /*float: right;
    margin-top: -135px;*/
    font-size: 17px;
        line-height: 33px;
        /*margin-left: -26%;*/
    margin-top: 16px;
  }
  .col-sm-8{
    margin-top: 34px;
    text-transform: uppercase;
    /*color: #000;*/
  }
 .border-first-container{
    border: 1px solid #d2d2d2;
 } 
.profile-details{
  /*box-shadow: 0 1px 10px #c3c3c3;*/
  margin-top: 30px;
  margin-bottom: 10%;
  width: 100%;
  /*background: #fff;*/
}
.emp{
    font-size: 18px; /*color: #000;*/
  }
  section.full-body{
    background: #fff;
    margin-bottom: 5%;
    padding-top: 18px;
    /*margin: 5%;*/
  }
.box-header.with-border {
    border-bottom: 1px solid #f57f20;
    padding: 10px;
    text-transform: uppercase;
}


********************************************
/*input#email {
    border: none !important;
    box-shadow: 0 0;
    border-bottom: 1px solid #d2d2d2;
        width: 80%;
}*/
  .sheet4{
        background: #fff;
  }
  .max-card {
    background: #fff;
    padding: 10px 0;
    margin-top: 27px;
    margin-bottom: 10px;
    position: relative;
    /*box-shadow: 0 3px 7px 0 rgba(0,0,0,.28);*/
        margin-right: 8%;
        margin-left: 8%;
}
.card-center {
    /* width: 100%; */
    padding-top: 30px;
    text-align: center;
}
.promotion-header{
  font-size: 29px;
  color: #f57f20;
}
.list-inline{
  border-top: 1px solid#f57f20;
    padding-top: 10px;
    text-align: center;
}
.label{
  color: #f57f20;
  margin: 1.8px 14px 21.8px 3px;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
}
.small-images {
    text-align: center;
    background: #f2f2f2;
    /*margin-right: 112px;*/
}
h3.founders.header{
  margin: 30.8px 14px 30.8px 28px;
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
}
.photo{
  width: 97%;
  line-height: 92px;
    border-radius: 5px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #e9eaec;
    border-left: 1px solid #e9eaec;
    border-top: 1px solid #f7f8f9;
    box-sizing: border-box;
    /*padding: 7px;*/
    box-shadow: inset 0 1px 3px rgba(0,0,0,.05);
    border: 1px solid #eee;
    background-color: #f8f9fa;
    line-height: 80px;
    vertical-align: middle;
    margin-right: 86%;
    margin-top: 7px;
    margin-left: 10px;
    margin-bottom: 7px;
}
.founders.section{
      margin-bottom: 8%;
      /*margin-right: 12px;*/
}
.section.with_filler.with_editable_regions.dsss17.startups-show-sections.ffs70.founders._a._jm{
  border: 1px solid #ebebeb;
    background: #fff;
    margin-left: 8%;
    margin-right: 8%;
    padding: 13px;
}
ul.larger.roles{
  list-style-type: none;
}
/*.role_title{
  margin-right: 30em;
}*/
.row.add {
    padding-top: 13px;
    /*padding-bottom: 24px;*/
    background: #fff;
    /*margin-top: 16px;*/
    font-size: 20px;
    line-height: 47px;
}
ul.faico.clear {
    list-style-type: none;
    display: flex;
}
.faico a {
    display: inline-block;
    /*width: 36px;*/
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    text-align: center;
    /*border: 1px solid #d2d2d2;*/
}
ul.faico.clear li{
  padding-left: 5px;
    padding-right: 5px;
}

a.profile-link {
    color: #f57f20;
}
.wpb_text_column.wpb_content_element{
    background: #fff;
    margin-left: 8%;
    margin-right: 8%;
}
h2{
  font-size: 28px;
  text-transform: capitalize;
  margin-right: 15px;
}
.vc_separator.wpb_content_element.vc_separator_align_center.vc_sep_width_100.vc_sep_pos_align_center.vc_sep_color_orange.vc_separator-has-text{
      margin-top: 23px;
    width: 85%;
}
.wpb_wrapper {
    font-size: 15px;
}
/*.sheet4{
  margin-left: 8%;
}*/
.col-sm-4.col-xs-8{
  margin-top: 7px;
    line-height: 27px;
    font-size: 17px;
    padding-left: 34px;
    min-height: 154px;
}
.col-sm-4.col-xs-4{
  display: flex;
}
iframe {
    margin-bottom: -5px;
}
.try{
  padding-left: 15px;
    font-size: 21px;
}

/*****************************responsive***************************/

@media (min-width: 512px) and (max-width: 561px){
.col-sm-4.col-xs-8{
  min-height: 118px;
}
}
@media screen and (max-width: 750px){
  .max-card{
       padding-right: 37px;
   /* margin-top: 1px; */
     margin-bottom: 0;
  }
  .promotion-header{
    font-size: 16px;
    margin-top: 34px;
    display: flex;
  }
  h2 {
    font-size: 17px;
    text-transform: uppercase;
    margin-right: 10px;
}
.col-sm-8{
  margin-top: 0;
}
.row.add{
  font-size: 17px;
  line-height: 41px;
}
.wpb_text_column.wpb_content_element{
  margin: 0;
  padding: 20px;
}
/*.sheet4 {
   margin-left: 0;
  }*/
  div#big-image img{
    height: 171px;
    width: 268px;
  }  
  .col-sm-4.col-xs-8{
    font-size: 15px;
    padding-left: 0;
    margin-top: -4px;
    line-height: 21px;
    /*min-height: 104px;*/
  }
  .founders.section{
    margin-bottom: 11%;
  }
}
.img-responsive {
    height: auto;
    max-width: 100%;
}
.small-images{
  display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

div#big-image img {
    max-width: 100%;
    width: 89.4%;
    }
    img.angel_image {
    max-width: 100%;
}
.small-images img {
    max-width: 100%;
    width: 19.69%;
    text-align: center; background: rgba(0,0,0,.41); height: auto;
    border: 1px solid hsla(0,0%,86%,.64)!important;
    box-shadow: 0 1px 10px #c3c3c3;
}

/*************************(thumbnails)*************************/

/*@media (min-width: 320px) and (max-width: 336px){
.small-images{
  margin-right: 25px;
}
}
@media (min-width: 337px) and (max-width: 358px){
.small-images{
  margin-right: 27px;
}
}
@media (min-width: 363px) and (max-width: 400px){
.small-images{
  margin-right: 28px;
}
}
@media (min-width: 401px) and (max-width: 470px){
.small-images{
  margin-right: 39px;
}
}
@media (min-width: 471px) and (max-width: 490px){
.small-images{
  margin-right: 43px;
}
}
@media (min-width: 491px) and (max-width: 577px){
.small-images{
  margin-right: 44px;
}
}
@media (min-width: 578px) and (max-width: 601px){
.small-images{
  margin-right: 53px;
}
}

@media (min-width: 601px) and (max-width: 620px){
.small-images{
  margin-right: 57px;
}
}
@media (min-width: 621px) and (max-width: 667px){
.small-images{
  margin-right: 11%;
}
}

@media (min-width: 667px) and (max-width: 700px){
.small-images{
  margin-right: 58px;
}
}
@media (min-width: 701px) and (max-width: 715px){
.small-images{
  margin-right: 61px;
}
}*/
@media (min-width: 715px) and (max-width: 760px){
.small-images{
  margin-right: 64px;
}
}
@media (min-width: 761px) and (max-width: 991px){
.small-images{
  width: 89.5%;
}
}
@media (min-width: 992px) and (max-width: 1200px){
.small-images{
  width: 89.5%;
}
}

/****************************video*************************/
@media (min-width: 320px) and (max-width: 750px){
iframe{
  height: 172px;
}
.small-images{
width: 89%;
  }
  .sheet4{
    padding-left: 0;
  }
}
@media (min-width: 751px) and (max-width: 992px){
iframe{
  height: 202px;
}
.sheet4{
    padding-left: 56px;
  }
}

@media (min-width: 992px) and (max-width: 1200px){
iframe{
  height: 279px;
}
.sheet4{
    padding-left: 59px;
  }
}
@media (min-width: 1200px) and (max-width: 1650px){
.small-images{
width: 89.5%;
  }
  .sheet4{
    padding-left: 91px;
  }
}

/***************************testing edit profile*********************/

.col-sm-4.cols {
    padding-left: 10%;
}
@media (min-width: 1200px) and (max-width: 1600px){
.pitch_box{
  margin-left: 8%;
    margin-right: 8%;
}
}

@media screen and (max-width: 750px){
  div#max{
       padding-right: 39px;
     /*margin-bottom: 0;*/
     margin-right: 4%;
    margin-left: 37px;
  }
  .try{
    padding-left: 0;
  }
  select#gender{
    margin-top: -31px;
    margin-bottom: 10px;
  }
  select#stage{
    margin-top: -24px;
  }
  .pitch_box{
    margin-left: 18px;
  }
}
/*modal styling*/
/*body {
  background: #DCDDDF url(https://cssdeck.com/uploads/media/items/7/7AF2Qzt.png);
  color: #000;
  font: 14px Arial;
  margin: 0 auto;
  padding: 0;
  position: relative;
}*/
/* h1{ font-size:28px;}
h2{ font-size:26px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;}
h1,h2,h3,h4,h5,h6{ color:#563D64;}
small{ font-size:10px;}
b, strong{ font-weight:bold;}
a{ text-decoration: none; }
a:hover{ text-decoration: underline; } */
.left { float:left; }
.right { float:right; }
.alignleft { float: left; margin-right: 15px; }
.alignright { float: right; margin-left: 15px; }
.clearfix:after,
form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/*.cont { margin: 25px auto; position: relative; width: 900px; }*/
#content {
 /* background: #f9f9f9;
  background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
  background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
  background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
  background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);*/
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff inset;
  -ms-box-shadow: 0 1px 0 #fff inset;
  -o-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  border: 1px solid #c4c6ca;
  margin: 0 auto;
  padding: 25px 0 0;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 400px;
}
#content h1 {
  color: #7E7E7E;
  font: bold 25px Helvetica, Arial, sans-serif;
  letter-spacing: -0.05em;
  line-height: 20px;
  margin: 10px 0 30px;
}
/*#content h1:before,
#content h1:after {
  content: "";
  height: 1px;
  position: absolute;
  top: 10px;
  width: 27%;
}*/
#content h1:after {
  background: rgb(126,126,126);
  background: -moz-linear-gradient(left,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    right: 0;
}
#content h1:before {
  background: rgb(126,126,126);
  background: -moz-linear-gradient(right,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
  background: linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    left: 0;
}
#content:after,
#content:before {
  background: #f9f9f9;
  background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
  background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
  background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
  background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
  border: 1px solid #c4c6ca;
  content: "";
  display: block;
  height: 100%;
  left: -1px;
  position: absolute;
  width: 100%;
}
#content:after {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
  top: 0;
  z-index: -1;
}
#content:before {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  top: 0;
  z-index: -2;
}
#content .select-style{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
  -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
  -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
  -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
  box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #eae7e7 url(https://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
  border: 1px solid #c8c8c8;
  color: #777;
  font: 13px Helvetica, Arial, sans-serif;
  margin: 0 36px 10px;
  padding: 3px 10px 15px 40px;
  width: 80%;
}
#content form textarea {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
  -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
  -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
  -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
  box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #eae7e7 url(https://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
  border: 1px solid #c8c8c8;
  color: #777;
  font: 13px Helvetica, Arial, sans-serif;
  margin: 0 0 10px;
  padding: 15px 10px 15px 15px;  
  width: 90%;
  height: 200px;
}
#content form { margin: 0 20px; position: relative }
#content form input[type="text"],
#content form input[type="password"],
#content form input[type="url"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
  -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
  -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
  -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
  box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #eae7e7 url(https://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
  border: 1px solid #c8c8c8;
  color: #777;
  font: 13px Helvetica, Arial, sans-serif;
  margin: 0 0 10px;
  padding: 15px 10px 15px 40px;
  width: 80%;
}
#content form input[type="text"]:focus,
#content form input[type="password"]:focus, 
#content form input[type="url"]:focus, 
#content form textarea:focus {
  -webkit-box-shadow: 0 0 2px #f57f20 inset;
  -moz-box-shadow: 0 0 2px #f57f20 inset;
  -ms-box-shadow: 0 0 2px #f57f20 inset;
  -o-box-shadow: 0 0 2px #f57f20 inset;
  box-shadow: 0 0 2px #f57f20 inset;
  background-color: #fff;
  border: 1px solid #f57f20;
  outline: none;
}
#username { background-position: 10px 10px !important }
#password { background-position: 10px -53px !important }
#content form input[type="button"] {
  background: #f57f20;
  background: -moz-linear-gradient(top,  rgba(254,231,154,1) 0%, rgba(254,193,81,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
  background: -o-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
  background: -ms-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
  background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
  -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
  -o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
  border: 1px solid #D69E31;
  color: #85592e;
  cursor: pointer;
  float: left;
  font: bold 15px Helvetica, Arial, sans-serif;
  height: 35px;
  margin: 20px 0 35px 15px;
  position: relative;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  width: 120px;
}
#content form input[type="submit"]:hover {
  background: rgb(254,193,81);
  background: -moz-linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
  background: -o-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
  background: -ms-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
  background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
}
#content form div a {
  color: #004a80;
    float: right;
    font-size: 12px;
    margin: 30px 15px 0 0;
    text-decoration: underline;
}
.button {
  background: rgb(247,249,250);
  background: -moz-linear-gradient(top,  rgba(247,249,250,1) 0%, rgba(240,240,240,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
  background: -o-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
  background: -ms-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
  background: linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0',GradientType=0 );
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
  -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
  -o-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #CFD5D9;
  padding: 15px 0;
}
.button a {
  background: url(https://cssdeck.com/uploads/media/items/8/8bcLQqF.png) 0 -112px no-repeat;
  color: #f57f20;
  font-size: 17px;
  padding: 2px 0 2px 40px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.button a:hover {
  background-position: 0 -135px;
  color: #00aeef;
}



/*add file modal style*/
.SciSecPic {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.SciSecPic i {
  display: block;
  font-size: 100px;
  color: #ccc;
  text-align: center;
  margin: 0 auto;
}

.SciSecPic label {
  margin-top: 10px;
  padding: 2px 7px;
  background: green;
  color: white;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.SciSecPic label:hover {
  background: #96B38A;
  cursor: pointer;
}

.SciSecPicAdded {
  width: 300px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid #aaa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.SciSecPicAdded .expandImg a img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}


.select-wrapper {
  background: url(https://image.freepik.com/free-icon/edit-interface-symbol-of-a-pencil-on-a-square-outline-paper_318-61160.jpg) no-repeat;
  background-size: cover;
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
  top: -122px;
  right: -255px;
  cursor: pointer;
}
#startup_logo {
  width: 26px;
  height: 26px;
  margin-right: 100px;
  opacity: 0;
  filter: alpha(opacity=0); /* IE 5-7 */
}
.logo-edit{
  height:50px; width:50px
}