table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}
.color{
  background: #fff;
}
.red{
  color: red;
}
.color-black{
  color: #000
}