.margin{
  margin-top: 25px;
  margin-bottom: 25px;
}
.padd{
    padding-bottom: 20px;
    margin-left: -40px;
    padding-top: 5px;
}
.font-size-15{
  font-size: 15px;
}
/*.padding:hover{
  box-shadow: 10px 10px 10px;
  
}*/
@media only screen and (min-width: 1080px) {
    .container {
       padding-right: 20px;
       padding-left: 60px;
       margin-left: auto;
       margin-right: auto;
    }
}
.col-container{
  display: table;
    width: 100%;
}
.col{
  display: table-cell;
    padding: 16px;
}
@media only screen and (max-width: 600px) {
    .col { 
        display: block;
        width: 100%;
    }
}
/*header styling*/
/*=========================*/
.header {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    text-align: center;
    background: url(../images/header.jpg) no-repeat center center/cover;
    color:white;
    margin-bottom: 25px;
}
.head{
  width:90%;
  background-color: rgba(0, 0, 0, 0.3);
  
  text-align: center;
}
.slider{
  height: 400px;
  margin-top: 70px;
}
.slider .item img{
  height: 400px;
  width: 100%;
}

h2 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #f57f20; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

h2 span { 
    background:#fff; 
    padding:0 10px; 
}
.rsvp{
  background: #f57f20;
  color:#fff;

}
.rsvp:hover{
  background: #fff;
  color: #f57f20;
  box-shadow: 2px 2px 2px 2px ;
}


/*event details styling*/
/*========================*/

/*timeline styling*/
/*=========================*/

/*body {
  font-family: Roboto;
  margin: 20px;
  padding: 0 20px;
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  width: 250px;
  height: 300px;
}*/
.timeline-style{
  margin: 0 auto;
}
.hh3 {
  margin-bottom: 4px;
}
.hh5 {
  margin-top: 4px;
  color: #aaa;
  font-weight: normal;
}
.timeline {
  width: 300px;
}
.timeline-item {
  position: relative;
  border-left: 1px solid #444;
  margin: 0 10px 0 5px;
  padding: 0 10px 10px 25px;
}
.timeline-item:before {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 100px;
  border: 2px solid #444;
  top: 4px;
  left: -4px;
  background-color: #fff;
}
.timeline-item time {
  font-size: 14px;
  color: #aaa;
  padding-right: 150px;

}
.timeline-item p {
  margin-top: 4px;
  margin-right: 85px;

}
.timeline-item:last-child {
  border-right-width: 0;
  border-left-width: 1px;
  border-left-style: solid;
  -o-border-image: linear-gradient(to bottom, #000, rgba(0,0,0,0)) 1 100%;
     border-image: -webkit-linear-gradient(top, #000, rgba(0,0,0,0)) 1 100%;
     border-image: linear-gradient(to bottom, #000, rgba(0,0,0,0)) 1 100%;
}








/*end of timeline styling*/
/*/*speaker detail stylin//*/
/*=======================*/
.speaker-details .speaker-image img{
    /*width: 100%;
    height:215px;*/
}
.ks-speaker-size {
    width:200px;
    height:200px;
    border-radius:50%;
    background-position: center;
    background-size:100% auto;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 840px){
  .ks-speaker-size {
    width:200px;
    height:200px;
    border-radius:50%;
    background-position: center;
    background-size:100% auto;
    background-repeat: no-repeat;
    align-content: center;
    margin:0 auto;
}
}
.speaker-details .speaker-content{
    margin-bottom: 50px;
}
.speaker-details .speaker-content h4{
    font-size: 24px;
    line-height: 28px;
    color: #ff9822;
}
.speaker-details .speaker-content > span{
    font-size: 16px;
    line-height: 28px;
    color: #656565;
    margin-bottom: 10px;
    display: inline-block;
}
.speaker-details .speaker-content p{
    font-size: 15px;
    line-height: 28px;
}
.speaker-details .speaker-social{
    overflow: hidden;
    margin-bottom: 30px;
}
.speaker-details .speaker-social li{
    list-style: none;
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.speaker-details .speaker-social li a{
    display: inline-block;
    height: 40px;
    width: 40px;
    color: #696969;
    text-align: center;
    border: 1px solid #676767;
    border-radius: 100%;
    line-height: 2.7;
}
.speaker-details .speaker-social li a:hover{
    background-color: #ff9822;
    border: 1px solid #ff9822;
    color: #fff;
}
.speaker-details .speaker-address{
    overflow: hidden;
}
.speaker-details .speaker-address li{
    list-style: none;
    margin-bottom: 6px;
    font-size: 15px;
}
.speaker-details .speaker-address li span{
    display: inline-block;
    height: 36px;
    width: 36px;
    border: 1px solid #f0f0f0;
    text-align: center;
    font-size: 18px;
    line-height: 2;
    color: #ff9822;
    margin-right: 10px;
}
.speaker-details .speaker-statement{
    margin-bottom: 50px;
}
.speaker-details .speaker-statement h4{
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
}
.speaker-details .speaker-statement p{
    font-size: 15px;
}
.speaker-details .speaker-skills h4{
    margin-bottom: 30px;
}
.speaker-details .speaker-skills .skill-item{
    display: inline-block;
    margin-right: 44px;
    text-align: center;
}
.speaker-details .speaker-skills .skill-item:last-child{
    margin-right: 0px;
}
.speaker-details .speaker-skills .circle{
    position: relative;
    margin-bottom: 10px;
}
.speaker-details .speaker-skills strong{
    color: #65ac4c;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.speaker-details .speaker-skills p{
    font-size: 14px;
    color: #696969;
    margin: 0px;
}
.speaker-details .speaker-award h4{
    margin-bottom: 20px;
}
.speaker-details .speaker-award li{
    list-style: none;
    display: inline-block;
    margin-right: 60px;
    text-align: center;
}
.speaker-details .speaker-award li:last-child{
    margin: 0px;
}
.speaker-details .speaker-award li img{
    margin: 0px auto 25px;
}


/*price section styling*/
/*=====================*/

/*awards and achievements*/



.cont{ margin-top: 42px;}

.inactive { visibility: hidden; }
.active { background-color: #F7F7F9; }
.col-list .col-head { color: white; 
                       border-radius: 5px 5px 5px 5px;
                       margin-top: 45px;
                       height: 34px;
                       padding-top: 0px;
                       font-size: 18px;
                        }
.col-list .col-head span { color: white; font-size: 3em; padding: 15px; border: thick solid white; border-radius: 50%; margin-top: -45px; background-color: #BE1E2D; }
.col-list .col-head h2 { margin-top: 7px; margin-bottom: 5px; font-size: 2em; font-weight: 700; }
.col-list .t1 .col-head { background-color: #f57f20; }
.col-list .t2 .col-head { background-color: #f57f20; }
.col-list .t3 .col-head { background-color: #F57f20; }
.col-list .t1 li { border-bottom: 1px solid rgba(255, 183, 72, .4); }
.col-list .t2 li { border-bottom: 1px solid rgba(22, 202, 200, .4); }
.col-list .t3 li { border-bottom: 1px solid rgba(248, 113, 82, .4) }
.col-list .t1 li:last-child,
.col-list .t2 li:last-child,
.col-list .t3 li:last-child { border-bottom: 0; }
.col-list li p { font-size: 14px; padding: 7px; margin: 0; }
.col-list li:hover { background-color: #F7F7F9; }
.option span { color: rgba(162, 213, 0, 1); margin-left: 7px; margin-right: 7px;} 


/*price selector styling*/
  
/*similar ks  */
.ks-div{
  position: relative; 
  left: 0px; 
  top: 0px;
}
.ks-image{
  width: 100%; 
  height: 100%; 
  position: relative; 
  border-radius: 0px 0px 75px;
}
.ks-speaker{
  position: absolute; 
  height: 150px;
  width: 150px;
  border-radius: 50%; 
  bottom: 0%; 
  right: 0%; 
  border: 2px solid rgb(255, 255, 255);
}



/*price section styling*/

.product-image {
  float: left;
  width: 20%;
}

.product-details {
  float: left;
  width: 37%;
}

.product-price {
  float: left;
  width: 12%;
}

.product-quantity {
  float: left;
  width: 10%;
}

.product-removal {
  float: left;
  width: 9%;
}

.product-line-price {
  float: left;
  width: 12%;
  text-align: right;
}

/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
  content: '';
  display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
  clear: both;
}

.group, .shopping-cart, .column-labels, .product, .totals-item {
  zoom: 1;
}

/* Apply clearfix in a few places */
/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '₹';
}

/* Body/Header stuff */
/*body {
  padding: 0px 30px 30px 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

h1 {
  font-weight: 100;
}
*/
label {
  color: #aaa;
}

.shopping-cart {
  margin-top: -45px;
}

/* Column headers */
.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
  text-indent: -9999px;
}

/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.product .product-image {
  text-align: center;
}
.product .product-image img {
  width: 100px;
}
.product .product-details .product-title {
  margin-right: 20px;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}
.product .product-details .product-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
}
.product .product-quantity input {
  width: 40px;
}
.product .remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  font-size: 12px;
  border-radius: 3px;
}
.product .remove-product:hover {
  background-color: #a44;
}

/* Totals section */
.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.totals .totals-item label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}
.totals .totals-item .totals-value {
  float: right;
  width: 21%;
  text-align: right;
}
.totals .totals-item-total {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkout:hover {
  background-color: #494;
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #eee;
  }

  .column-labels {
    display: none;
  }

  .product-image {
    float: right;
    width: auto;
  }
  .product-image img {
    margin: 0 0 10px 10px;
  }

  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }

  .product-price {
    clear: both;
    width: 70px;
  }

  .product-quantity {
    width: 100px;
  }
  .product-quantity input {
    margin-left: 20px;
  }

  .product-quantity:before {
    content: 'x';
  }

  .product-removal {
    width: auto;
  }

  .product-line-price {
    float: right;
    width: 70px;
  }
}
/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  .product-removal {
    float: right;
  }

  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }

  .product .product-line-price:before {
    content: 'Item Total: ₹';
  }

  .totals .totals-item label {
    width: 60%;
  }
  .totals .totals-item .totals-value {
    width: 40%;
  }
}
 @import "compass/css3";

/*
I wanted to go with a mobile first approach, but it actually lead to more verbose CSS in this case, so I've gone web first. Can't always force things...

Side note: I know that this style of nesting in SASS doesn't result in the most performance efficient CSS code... but on the OCD/organizational side, I like it. So for CodePen purposes, CSS selector performance be damned.
*/

/* Global settings */
$color-border: #eee;
$color-label: #aaa;
$font-default: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-bold: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';


/* Global "table" column settings */
.product-image { float: left; width: 20%; }
.product-details { float: left; width: 37%; }
.product-price { float: left; width: 12%; }
.product-quantity { float: left; width: 10%; }
.product-removal { float: left; width: 9%; }
.product-line-price { float: left; width: 12%; text-align: right; }


/* This is used as the traditional .clearfix class */
.group:before,
.group:after {
    content: '';
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}


/* Apply clearfix in a few places */
.shopping-cart, .column-labels, .product, .totals-item {
  @extend .group;
}


/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '₹';
}


/* Body/Header stuff */


h1 {
  font-weight: 100;
}

label {
  color: $color-label;
}

.shopping-cart {
  margin-top: -45px;
}


/* Column headers */
.column-labels {
  label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $color-border;
  }
  
  .product-image, .product-details, .product-removal {
    text-indent: -9999px;
  }
}


/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-border;
  
  .product-image {
    text-align: center;
    img {
      width: 100px;
    }
  }
  
  .product-details {
    .product-title {
      margin-right: 20px;
      font-family: $font-bold;
    }
    .product-description {
      margin: 5px 20px 5px 0;
      line-height: 1.4em;
    }
  }
  
  .product-quantity {
    input {
      width: 40px;
      
    }
  }
  
  .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: $font-bold;
    font-size: 12px;
    border-radius: 3px;
  }
  
  .remove-product:hover {
    background-color: #a44;
  }
}


/* Totals section */
.totals {
  .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
    
    label {
      float: left;
      clear: both;
      width: 79%;
      text-align: right;
    }
    
    .totals-value {
      float: right;
      width: 21%;
      text-align: right;
    }
  }
  
  .totals-item-total {
    font-family: $font-bold;
  }
}

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkout:hover {
  background-color: #494;
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  
  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid $color-border;
  }
  
  .column-labels {
    display: none;
  }
  
  .product-image {
    float: right;
    width: auto;
    img {
      margin: 0 0 10px 10px;
    }
  }
  
  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }
  
  .product-price {
    clear: both;
    width: 70px;
  }
  
  .product-quantity {
    width: 100px;
    input {
      margin-left: 20px;
    }
  }
  
  .product-quantity:before {
    content: 'x';
  }
  
  .product-removal {
    width: auto;
  }
  
  .product-line-price {
    float: right;
    width: 70px;
  }
  
}


/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  
  .product-removal {
    float: right;
  }
  
  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }
  
  .product .product-line-price:before {
    content: 'Item Total: ₹';
  }
  
  .totals {
    .totals-item {
      label {
        width: 60%;
      }
      
      .totals-value {
        width: 40%;
      }
    }
  }
}



@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}



.i.container {
  
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #fff;
  padding: 25px;
  /*margin: 150px 0;*/
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}



 .event {
  background-color: #fff;
  padding: 20px;
}
.event .table {
  display: table;
  background-color: white;
}
.event .table .row {
  display: table-row;
}
.event .table .row .col {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-top:  10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
}
.event .table .row .right-col {
  width: 40px;
}
.event .date-short {
  text-align: center;
  color: white;
}
.event .date-short .month {
  font-size: 13px;
}
.event .date-short .day {
  font-weight: bold;
  font-size: 18px;
}
.event .event-details {
  font-size: 20px;
}
.event .event-details .event-name {
  font-weight: bold;
  max-width: 180px;
  text-align: left;
  font-size: 15px;
}
.event .event-details .date-long, .event .event-details .location, .event .event-details .registration {
  font-size: 12px;
  text-align: left;
}
.event .event-details .registration {
  font-weight: bold;
  color: #f57f20;
}


.opacity {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .5;
    background-color: #000;
    top: 0;
}